body{
    background-color: rgb(255, 255, 255);
    color: #3E2557;
}
.cabezera{grid-area: cabezera;}
.navegacion{grid-area: navegacion;}
.noticias{grid-area: principal;}
.lateral{grid-area: lateral;}
.maquetado{
    padding: 10px;
    width: auto;
    display: grid;
    grid-template: 
      'cabezera cabezera cabezera'
      'navegacion navegacion navegacion  '
      'lateral principal principal  '
      
    ; 
    grid-gap: 10px;
    grid-template-columns:  350px auto;
}
.cabezera{
    color: purple;
    font-size:  60px;
    font-family: 'Oleo Script Swash Caps', cursive;
    text-align: center;
    box-shadow: 8px 8px 10px  #7546A3 ;
    border-radius: 20px;
    background-repeat: no-repeat;
    vertical-align:middle;
    background-position: 200px;    
}
.navegacion{
   
    font-size: 40px;
    text-align: center;
    margin: 10px;
    
}
a { color: purple;
    text-decoration: none;
    margin: 15px;
    border-radius: 5px;
 } 
 .navegacion a:hover{
     background-color: purple;
     color:  #BFA1DD;
     }
     .lateral a:hover{
      background-color: purple;
      color:  #BFA1DD;
      }
.lateral{
        background-color: #BFA1DD;
        border-radius: 30px;
        margin: 10px;
        box-shadow: 8px 8px 10px  #5746a0 ;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
      }
.containerImagen{
       background-color: #BFA1DD;
       border-radius: 30px;
        margin: 15px;
        box-shadow: 8px 8px 10px  #7546A3 ;
        align-items: center;
        font-family: 'Oleo Script Swash Caps', cursive;
        font-size: 30px;
      }

    .imagen{
      margin-top: 10px;
      margin-bottom: 20px;
      padding-bottom: 100px;
    }
      .containerImagen .imagen img{
        width: 90%;
        height: 90%;
    }
    
    .containerImagen{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
        padding: 20px;
    }
    
    .containerImagen .imagen{
        width: 300px;
        height: 250px;
        margin: 20px;
        text-align: center;
        box-shadow: 8px 8px 10px  #7546A3;
        border-radius: 8px;
        transition: all 0.25s;
        display:flex;
    flex-wrap: wrap;/*Ajusta los bloques que caben en una liena y los demas los pasa a la siguiente*/
    align-content: center;/*Alinea al centro los contenedores o div hijos en el div padre*/
    align-content: flex-end;/*Alinea los bloques a la parte inferior de div padre*/
    align-content: flex-start;/*Alinea los bloques a la parte superior de div padre*/
     }
    
     .containerImagen .imagen:hover{
         transform: translateY(-15px);
         box-shadow: 0 10px 10px dimgray;
     }

     